.env
.venv/
__pycache__/
node_modules/
ui/build/
ui/.env
*.pyc
Data_Fragrantica/
scripts/
miscellanious/
.DS_Store
.vscode/
venv/

ui/public/Print_Rollup.pdf
ui/public/botanical_A4.png

