fastapi
uvicorn
openai
qdrant-client
python-dotenv
httpx
pydantic
starlette
pandas
numpy
matplotlib
seaborn
ipython
ipykernel
jupyter_client
jupyter_core
tqdm
RapidFuzz
portalocker
grpcio
protobuf
Pygments
pillow